In [8]:
import os
import glob
import pandas as pd
os.chdir('C:/A/')

In [9]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [10]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [11]:
combined_csv.describe()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,Age,Gender,ICULOS,SepsisLabel
count,342556.000000,342556.000000,342556.000000,342556.000000,342556.000000,342556.000000,342556.000000,342556.000000,342556.000000,342556.000000,342556.000000
mean,85.858592,97.419458,37.024994,122.651158,81.598241,61.862242,18.444201,62.838272,0.597946,26.708967,0.017431
std,16.380658,2.844244,0.772718,22.461502,15.508675,13.061961,5.154021,15.400810,0.490313,28.835180,0.130870
min,20.000000,20.000000,20.900000,22.000000,21.000000,20.000000,1.000000,14.000000,0.000000,2.000000,0.000000
25%,75.000000,96.000000,36.550000,106.000000,71.000000,53.000000,15.000000,54.000000,0.000000,11.000000,0.000000
50%,85.000000,98.000000,37.000000,120.000000,79.000000,60.000000,18.000000,65.000000,1.000000,20.000000,0.000000
75%,96.000000,100.000000,37.500000,136.000000,90.000000,69.000000,21.000000,74.000000,1.000000,34.000000,0.000000
max,223.000000,100.000000,50.000000,299.000000,300.000000,296.000000,100.000000,100.000000,1.000000,336.000000,1.000000