In [3]:
import pandas as pd
import numpy as np
import feather

In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split       
from lightgbm import LGBMClassifier    #Light Gradient Boosting Machine, It is based on decision tree algorithms and used for ranking, classification & other ML tasks.

import pandas as pd
from pandas.plotting import scatter_matrix
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns  #data visualization library based on matplotlib

import warnings
warnings.simplefilter('ignore')
from sklearn.metrics import roc_auc_score, confusion_matrix
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV, learning_curve
from sklearn.utils import shuffle
import lightgbm as lgb
from lightgbm import LGBMClassifier
import eli5 # is used to inspect ML classifiers and explain their predictions. 
            #It is popularly used to debug algorithms such as sklearn regressors and classifiers, XGBoost, CatBoost, Keras, etc.

from catboost import CatBoostClassifier  #CatBoost converts categorical values into numbers using various statistics on combinations of categorical features
                                         #and combinations of categorical and numerical features


import xgboost as xgb  # an implementation of gradient boosted decision trees designed for speed and performance that is dominative competitive machine learning




import warnings                          #ignore the unnecessary warnings
warnings.simplefilter('ignore')
import matplotlib.pyplot as plt

#import plotly.express as px
#from plotly.subplots import make_subplots
#import plotly.graph_objs as go

import optuna                           #Optuna uses a history record of trials to determine which hyperparameter values to try next
from optuna.samplers import TPESampler
from sklearn.metrics import roc_auc_score  #To Check AUC SCORE

%matplotlib inline
# for heatmap and other plots
colorMap1 = sns.color_palette("RdBu_r")
# for countplot and others plots
colorMap2 = 'Blues_r'

In [5]:
# Read ftr file into a pandas dataframe
KT1 = pd.read_feather("C:/Users/user1/Desktop/Concatinate/KT1.ftr")

# Take a look at the first 100 rows
KT1.head(10)

       timestamp  solving_id question_id user_answer  elapsed_time  user_iD
0  1565096190868           1       q5012           b         38000        0
1  1565096221062           2       q4706           c         24000        0
2  1565096293432           3       q4366           b         68000        0
3  1565096339668           4       q4829           a         42000        0
4  1565096401774           5       q6528           b         59000        0
5  1565096463370           6       q4793           a         58000        0
6  1565096501746           7       q6488           a         35000        0
7  1565097101361           8        q356           b         23000        0
8  1565097171393           9       q1382           c         22000        0
9  1565097240758          10        q830           b         25000        0

In [6]:
# Read ftr file into a pandas dataframe
KT2 = pd.read_feather("C:/Users/user1/Desktop/Concatinate/KT2.ftr")

# Take a look at the first 100 rows
KT1.head(10)

       timestamp  solving_id question_id user_answer  elapsed_time  user_iD
0  1565096190868           1       q5012           b         38000        0
1  1565096221062           2       q4706           c         24000        0
2  1565096293432           3       q4366           b         68000        0
3  1565096339668           4       q4829           a         42000        0
4  1565096401774           5       q6528           b         59000        0
5  1565096463370           6       q4793           a         58000        0
6  1565096501746           7       q6488           a         35000        0
7  1565097101361           8        q356           b         23000        0
8  1565097171393           9       q1382           c         22000        0
9  1565097240758          10        q830           b         25000        0

In [7]:
# Read ftr file into a pandas dataframe
KT3 = pd.read_feather("C:/Users/user1/Desktop/Concatinate/KT3.ftr")

# Take a look at the first 100 rows
KT3.head(10)

       timestamp action_type item_id     source user_answer platform  user_iD
0  1565096151269       enter   b3544  diagnosis        None   mobile        0
1  1565096187972     respond   q5012  diagnosis           b   mobile        0
2  1565096194904      submit   b3544  diagnosis        None   mobile        0
3  1565096195001       enter   b3238  diagnosis        None   mobile        0
4  1565096218682     respond   q4706  diagnosis           c   mobile        0
5  1565096223029      submit   b3238  diagnosis        None   mobile        0
6  1565096223119       enter   b2898  diagnosis        None   mobile        0
7  1565096290094     respond   q4366  diagnosis           b   mobile        0
8  1565096295925      submit   b2898  diagnosis        None   mobile        0
9  1565096296012       enter   b3361  diagnosis        None   mobile        0

In [8]:
# Read ftr file into a pandas dataframe
KT4 = pd.read_feather("C:/Users/user1/Desktop/Concatinate/KT4.ftr")

# Take a look at the first 100 rows
KT4.head(10)

,timestamp,action_type,item_id,cursor_time,source,user_answer,platform,user_iD
0,1565096151269,enter,b3544,NaN,diagnosis,None,mobile,0
1,1565096187972,respond,q5012,NaN,diagnosis,b,mobile,0
2,1565096194904,submit,b3544,NaN,diagnosis,None,mobile,0
3,1565096195001,enter,b3238,NaN,diagnosis,None,mobile,0
4,1565096218682,respond,q4706,NaN,diagnosis,c,mobile,0
5,1565096223029,submit,b3238,NaN,diagnosis,None,mobile,0
6,1565096223119,enter,b2898,NaN,diagnosis,None,mobile,0
7,1565096290094,respond,q4366,NaN,diagnosis,b,mobile,0
8,1565096295925,submit,b2898,NaN,diagnosis,None,mobile,0
9,1565096296012,enter,b3361,NaN,diagnosis,None,mobile,0

In [9]:
#CHECKING COLUMNS DTYPES OF EACH DATASET

In [10]:
KT1.dtypes

timestamp        int64
solving_id       int64
question_id     object
user_answer     object
elapsed_time     int64
user_iD          int64
dtype: object

In [94]:
KT1.head(50)

        timestamp  solving_id question_id user_answer  elapsed_time  user_iD
0   1565096190868           1       q5012           b         38000        0
1   1565096221062           2       q4706           c         24000        0
2   1565096293432           3       q4366           b         68000        0
3   1565096339668           4       q4829           a         42000        0
4   1565096401774           5       q6528           b         59000        0
5   1565096463370           6       q4793           a         58000        0
6   1565096501746           7       q6488           a         35000        0
7   1565097101361           8        q356           b         23000        0
8   1565097171393           9       q1382           c         22000        0
9   1565097240758          10        q830           b         25000        0
10  1565097297745          11      q11259           b         23000        0
11  1565097346903          12       q1092           a         20000        0
12  1565097396305          13        q524           a         22000        0
13  1565097447155          14        q485           c         21000        0
14  1565097496402          15      q11261           b         23000        0
15  1565097544796          16       q1329           b         20000        0
16  1565097588350          17       q1204           c         18000        0
17  1565126570152          18       q4891           b         28000        0
18  1565126633493          19       q5477           a         35000        0
19  1565126711968          20       q5049           b         47000        0
20  1565126787167          21      q17211           c         35000        0
21  1565130481697          22       q4760           c         41000        0
22  1565130592803          23       q5957           c         29000        0
23  1565130648696          24       q4041           d         35000        0
24  1565130697527          25       q8633           d         26000        0
25  1565130747697          26       q4480           c         28000        0
26  1565130789667          27       q4034           d         10000        0
27  1565184364524          28        q325           c         22000        0
28  1565184428456          29        q295           c         18000        0
29  1565184506667          30        q351           b         19000        0
30  1565184591613          31       q1298           a         20000        0
31  1565184656806          32       q1234           a         17000        0
32  1565184729584          33      q11263           b         20000        0
33  1565184809852          34        q391           b         21000        0
34  1565184886566          35       q1010           a         17000        0
35  1565184954179          36        q563           a         20000        0
36  1565185031706          37      q11262           a         18000        0
37  1565185188342          38       q3911           a         81000        0
38  1565185274171          39       q9786           a         22000        0
39  1565185332658          40       q4526           d         32000        0
40  1565185429040          41       q5231           a         49000        0
41  1565185478587          42       q4685           b         23000        0
42  1565185521429          43      q17249           c         19000        0
43  1565185605196          44       q5388           c         58000        0
44  1565185696744          45       q4324           a         57000        0
45  1565185756998          46       q4631           b         28000        0
46  1565185804571          47      q17122           b         38000        0
47  1565310208783          48       q6047           d        173000        0
48  1565310248409          49       q5379           c         13000        0
49  1565310320427          50       q5071           a         43000        0

In [11]:
KT2.dtypes

timestamp       int64
action_type    object
item_id        object
source         object
user_answer    object
platform       object
user_iD         int64
dtype: object

In [101]:
KT2[10:50]

        timestamp action_type item_id     source user_answer platform  user_iD
10  1565096337361     respond   q4829  diagnosis           a   mobile        0
11  1565096341309      submit   b3361  diagnosis        None   mobile        0
12  1565096341395       enter   b5060  diagnosis        None   mobile        0
13  1565096395328     respond   q6528  diagnosis           b   mobile        0
14  1565096403465      submit   b5060  diagnosis        None   mobile        0
15  1565096403559       enter   b3325  diagnosis        None   mobile        0
16  1565096461374     respond   q4793  diagnosis           a   mobile        0
17  1565096465406      submit   b3325  diagnosis        None   mobile        0
18  1565096465497       enter   b5020  diagnosis        None   mobile        0
19  1565096499772     respond   q6488  diagnosis           a   mobile        0
20  1565096504384      submit   b5020  diagnosis        None   mobile        0
21  1565097076398       enter    b356     sprint        None   mobile        0
22  1565097095356     respond    q356     sprint           b   mobile        0
23  1565097102642      submit    b356     sprint        None   mobile        0
24  1565097147947       enter   b1382     sprint        None   mobile        0
25  1565097168971     respond   q1382     sprint           c   mobile        0
26  1565097172778      submit   b1382     sprint        None   mobile        0
27  1565097213786       enter    b830     sprint        None   mobile        0
28  1565097238650     respond    q830     sprint           b   mobile        0
29  1565097241501      submit    b830     sprint        None   mobile        0
30  1565097273496       enter   b8312     sprint        None   mobile        0
31  1565097295733     respond  q11259     sprint           b   mobile        0
32  1565097298840      submit   b8312     sprint        None   mobile        0
33  1565097325534       enter   b1092     sprint        None   mobile        0
34  1565097344934     respond   q1092     sprint           a   mobile        0
35  1565097348085      submit   b1092     sprint        None   mobile        0
36  1565097372666       enter    b524     sprint        None   mobile        0
37  1565097394176     respond    q524     sprint           a   mobile        0
38  1565097397355      submit    b524     sprint        None   mobile        0
39  1565097424640       enter    b485     sprint        None   mobile        0
40  1565097445208     respond    q485     sprint           c   mobile        0
41  1565097448675      submit    b485     sprint        None   mobile        0
42  1565097471941       enter   b8314     sprint        None   mobile        0
43  1565097494280     respond  q11261     sprint           b   mobile        0
44  1565097497903      submit   b8314     sprint        None   mobile        0
45  1565097523360       enter   b1329     sprint        None   mobile        0
46  1565097542398     respond   q1329     sprint           b   mobile        0
47  1565097546025      submit   b1329     sprint        None   mobile        0
48  1565097568316       enter   b1204     sprint        None   mobile        0
49  1565097586444     respond   q1204     sprint           c   mobile        0

In [13]:
KT4.dtypes

timestamp        int64
action_type     object
item_id         object
cursor_time    float64
source          object
user_answer     object
platform        object
user_iD          int64
dtype: object

In [14]:
#CHECKING THE MISSING VALUES PERCENTAGES IN EACH DATASET

In [15]:
percent_missing_KT1 = KT1.isnull().sum() * 100 / len(KT1)
missing_value_KT1 = pd.DataFrame({#'column_name': KT1.columns,
                                 'KT1 Missing Values in Percentage': percent_missing_KT1})

In [16]:
print(missing_value_KT1)

              KT1 Missing Values in Percentage
timestamp                             0.000000
solving_id                            0.000000
question_id                           0.000000
user_answer                           0.029011
elapsed_time                          0.000000
user_iD                               0.000000

In [17]:
percent_missing_KT2 = KT2.isnull().sum() * 100 / len(KT2)
missing_value_KT2 = pd.DataFrame({#'column_name': KT2.columns,
                                 'KT2 Missing Values in Percentage': percent_missing_KT2})

In [18]:
print(missing_value_KT2)

             KT2 Missing Values in Percentage
timestamp                            0.000000
action_type                          0.000000
item_id                              0.000000
source                               0.000000
user_answer                         58.509173
platform                             0.000000
user_iD                              0.000000

In [19]:
percent_missing_KT3 = KT3.isnull().sum() * 100 / len(KT3)
missing_value_KT3 = pd.DataFrame({#'column_name': KT3.columns,
                                 'KT3 Missing Values in Percentage': percent_missing_KT3})

In [20]:
print(missing_value_KT3)

             KT3 Missing Values in Percentage
timestamp                            0.000000
action_type                          0.000000
item_id                              0.000000
source                               0.000000
user_answer                         73.804964
platform                             0.000000
user_iD                              0.000000

In [21]:
percent_missing_KT4 = KT4.isnull().sum() * 100 / len(KT4)
missing_value_KT4 = pd.DataFrame({#'column_name': KT4.columns,
                                 'KT4 Missing Values in Percentage': percent_missing_KT4})

In [22]:
print(missing_value_KT4)

             KT4 Missing Values in Percentage
timestamp                            0.000000
action_type                          0.000000
item_id                              0.000000
cursor_time                         71.633057
source                               0.021540
user_answer                         78.514322
platform                             0.021540
user_iD                              0.000000

In [93]:
KT4.head(50)

,timestamp,action_type,item_id,cursor_time,source,user_answer,platform,user_iD
0,1565096151269,enter,b3544,NaN,diagnosis,None,mobile,0
1,1565096187972,respond,q5012,NaN,diagnosis,b,mobile,0
2,1565096194904,submit,b3544,NaN,diagnosis,None,mobile,0
3,1565096195001,enter,b3238,NaN,diagnosis,None,mobile,0
4,1565096218682,respond,q4706,NaN,diagnosis,c,mobile,0
5,1565096223029,submit,b3238,NaN,diagnosis,None,mobile,0
6,1565096223119,enter,b2898,NaN,diagnosis,None,mobile,0
7,1565096290094,respond,q4366,NaN,diagnosis,b,mobile,0
8,1565096295925,submit,b2898,NaN,diagnosis,None,mobile,0
9,1565096296012,enter,b3361,NaN,diagnosis,None,mobile,0
10,1565096337361,respond,q4829,NaN,diagnosis,a,mobile,0
11,1565096341309,submit,b3361,NaN,diagnosis,None,mobile,0
12,1565096341395,enter,b5060,NaN,diagnosis,None,mobile,0
13,1565096395328,respond,q6528,NaN,diagnosis,b,mobile,0
14,1565096403465,submit,b5060,NaN,diagnosis,None,mobile,0
15,1565096403559,enter,b3325,NaN,diagnosis,None,mobile,0
16,1565096461374,respond,q4793,NaN,diagnosis,a,mobile,0
17,1565096465406,submit,b3325,NaN,diagnosis,None,mobile,0
18,1565096465497,enter,b5020,NaN,diagnosis,None,mobile,0
19,1565096499772,respond,q6488,NaN,diagnosis,a,mobile,0
20,1565096504384,submit,b5020,NaN,diagnosis,None,mobile,0
21,1565096637922,enter,l504,NaN,archive,None,mobile,0
22,1565096645773,play_video,l504,0.0,archive,None,mobile,0
23,1565096651182,pause_video,l504,4805.0,archive,None,mobile,0
24,1565096652123,play_video,l504,4992.0,archive,None,mobile,0
25,1565097005408,pause_video,l504,358098.0,archive,None,mobile,0
26,1565097007903,quit,l504,NaN,archive,None,mobile,0
27,1565097076398,enter,b356,NaN,sprint,None,mobile,0
28,1565097077179,play_audio,b356,0.0,sprint,None,mobile,0
29,1565097093695,pause_audio,b356,16701.0,sprint,None,mobile,0
30,1565097095356,respond,q356,NaN,sprint,b,mobile,0
31,1565097102642,submit,b356,NaN,sprint,None,mobile,0
32,1565097102706,enter,e356,NaN,sprint,None,mobile,0
33,1565097127548,play_audio,b356,0.0,sprint,None,mobile,0
34,1565097142034,pause_audio,b356,14244.0,sprint,None,mobile,0
35,1565097147894,quit,e356,NaN,sprint,None,mobile,0
36,1565097147947,enter,b1382,NaN,sprint,None,mobile,0
37,1565097148502,play_audio,b1382,0.0,sprint,None,mobile,0
38,1565097165766,pause_audio,b1382,17477.0,sprint,None,mobile,0
39,1565097168971,respond,q1382,NaN,sprint,c,mobile,0
40,1565097172778,submit,b1382,NaN,sprint,None,mobile,0
41,1565097172828,enter,e1382,NaN,sprint,None,mobile,0
42,1565097177024,play_audio,b1382,0.0,sprint,None,mobile,0
43,1565097192312,pause_audio,b1382,15021.0,sprint,None,mobile,0
44,1565097213739,quit,e1382,NaN,sprint,None,mobile,0
45,1565097213786,enter,b830,NaN,sprint,None,mobile,0
46,1565097214098,play_audio,b830,0.0,sprint,None,mobile,0
47,1565097232325,pause_audio,b830,18450.0,sprint,None,mobile,0
48,1565097238650,respond,q830,NaN,sprint,b,mobile,0
49,1565097241501,submit,b830,NaN,sprint,None,mobile,0

In [23]:
#Checking Duplicates

In [24]:
#ANALYZING KT1 DATASET

In [25]:
KT1.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
95293921    False
95293922    False
95293923    False
95293924    False
95293925    False
Length: 95293926, dtype: bool

In [26]:
KT1.duplicated().sum()

4983

In [27]:
KT1['timestamp'].duplicated().sum()

3044385

In [28]:
KT1['solving_id'].duplicated().sum()

95260794

In [29]:
KT1['question_id'].duplicated().sum()

95281642

In [30]:
KT1['user_answer'].duplicated().sum()  #THIS WILL HAVE MANY DUPLICATES AS ITS AN MCQs BASED QUIZ AND OPTIONS will be shown duplicated

95293921

In [31]:
KT1['elapsed_time'].duplicated().sum()

95284628

In [32]:
KT1['user_iD'].duplicated().sum()

94509617

In [33]:
#Analyzing KT2 Dataset

In [34]:
KT2.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
56360597    False
56360598    False
56360599    False
56360600    False
56360601    False
Length: 56360602, dtype: bool

In [35]:
KT2.duplicated().sum()

75778

In [36]:
KT2['timestamp'].duplicated().sum()

136262

In [37]:
KT2['action_type'].duplicated().sum()

56360599

In [38]:
KT2['item_id'].duplicated().sum()

56340571

In [39]:
KT2['source'].duplicated().sum()

56360595

In [40]:
KT2['user_answer'].duplicated().sum()

56360597

In [41]:
KT2['platform'].duplicated().sum()

56360600

In [42]:
KT2['user_iD'].duplicated().sum()

56063158

In [43]:
#ANALZING KT3 DATASET

In [44]:
KT3.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
89270649    False
89270650    False
89270651    False
89270652    False
89270653    False
Length: 89270654, dtype: bool

In [45]:
KT3.duplicated().sum()

75778

In [46]:
KT3['timestamp'].duplicated().sum()

225677

In [47]:
KT3['action_type'].duplicated().sum()

89270650

In [48]:
KT3['item_id'].duplicated().sum()

89241156

In [49]:
KT3['source'].duplicated().sum()

89270646

In [50]:
KT3['user_answer'].duplicated().sum()

89270649

In [51]:
KT3['platform'].duplicated().sum()

89270652

In [52]:
KT3['user_iD'].duplicated().sum()

88972739

In [53]:
#Analyzing KT4 Dataset

In [54]:
KT4.duplicated()

0            False
1            False
2            False
3            False
4            False
             ...
131441533    False
131441534    False
131441535    False
131441536    False
131441537    False
Length: 131441538, dtype: bool

In [55]:
KT4.duplicated().sum()

461237

In [56]:
KT4['timestamp'].duplicated().sum()

4111879

In [57]:
KT4['action_type'].duplicated().sum()

131441525

In [58]:
KT4['item_id'].duplicated().sum()

131411896

In [59]:
KT4['cursor_time'].duplicated().sum()

131055370

In [60]:
KT4['source'].duplicated().sum()

131441529

In [61]:
KT4['user_answer'].duplicated().sum()

131441533

In [62]:
KT4['platform'].duplicated().sum()

131441535

In [63]:
KT4['user_iD'].duplicated().sum()

131143623

In [103]:
KT1.head()

       timestamp  solving_id question_id user_answer  elapsed_time  user_iD
0  1565096190868           1       q5012           b         38000        0
1  1565096221062           2       q4706           c         24000        0
2  1565096293432           3       q4366           b         68000        0
3  1565096339668           4       q4829           a         42000        0
4  1565096401774           5       q6528           b         59000        0

In [104]:
KT2.head()

       timestamp action_type item_id     source user_answer platform  user_iD
0  1565096151269       enter   b3544  diagnosis        None   mobile        0
1  1565096187972     respond   q5012  diagnosis           b   mobile        0
2  1565096194904      submit   b3544  diagnosis        None   mobile        0
3  1565096195001       enter   b3238  diagnosis        None   mobile        0
4  1565096218682     respond   q4706  diagnosis           c   mobile        0

In [105]:
KT3.head()

       timestamp action_type item_id     source user_answer platform  user_iD
0  1565096151269       enter   b3544  diagnosis        None   mobile        0
1  1565096187972     respond   q5012  diagnosis           b   mobile        0
2  1565096194904      submit   b3544  diagnosis        None   mobile        0
3  1565096195001       enter   b3238  diagnosis        None   mobile        0
4  1565096218682     respond   q4706  diagnosis           c   mobile        0

In [106]:
KT4.head()

,timestamp,action_type,item_id,cursor_time,source,user_answer,platform,user_iD
0,1565096151269,enter,b3544,NaN,diagnosis,None,mobile,0
1,1565096187972,respond,q5012,NaN,diagnosis,b,mobile,0
2,1565096194904,submit,b3544,NaN,diagnosis,None,mobile,0
3,1565096195001,enter,b3238,NaN,diagnosis,None,mobile,0
4,1565096218682,respond,q4706,NaN,diagnosis,c,mobile,0