In [1]:
import pandas as pd
import numpy as np
#import seaborn as sns
import matplotlib.pyplot as plt 
pd.set_option('display.max_columns',None) # To display all columns
pd.set_option('display.max_rows',None) # To display all columns
import feather
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
from functools import reduce
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
df =pd.read_csv('C:/Users/PC1/Desktop/DATASET/EDNET.csv')

In [4]:
df.head()

,Unnamed: 0,timestamp,solving_id,question_id,user_answer,elapsed_time,user_iD,correct_answer,bundle_id,explanation_id,part,tags,deployed_at,correct
0,0,1565096190868,1,q5012,b,38000,1,c,3544,3544,5,74,2019-09-17 02:43:28.616,0.0
1,1,1565096221062,2,q4706,c,24000,1,c,3238,3238,5,71,2019-10-30 05:34:30.723,1.0
2,2,1565096293432,3,q4366,b,68000,1,b,2898,2898,5,103,2019-10-30 05:37:51.451,1.0
3,3,1565096339668,4,q4829,a,42000,1,c,3361,3361,5,83,2019-06-24 09:24:51.347,0.0
4,4,1565096401774,5,q6528,b,59000,1,d,5060,5060,5,90,2019-10-17 03:03:15.009,0.0

In [5]:
df.question_id = df.question_id.str.slice(start=1)

In [9]:
del df['Unnamed: 0']
df.head()

,timestamp,solving_id,question_id,user_answer,elapsed_time,user_iD,correct_answer,bundle_id,explanation_id,part,tags,deployed_at,correct
0,1565096190868,1,5012,b,38000,1,c,3544,3544,5,74,2019-09-17 02:43:28.616,0.0
1,1565096221062,2,4706,c,24000,1,c,3238,3238,5,71,2019-10-30 05:34:30.723,1.0
2,1565096293432,3,4366,b,68000,1,b,2898,2898,5,103,2019-10-30 05:37:51.451,1.0
3,1565096339668,4,4829,a,42000,1,c,3361,3361,5,83,2019-06-24 09:24:51.347,0.0
4,1565096401774,5,6528,b,59000,1,d,5060,5060,5,90,2019-10-17 03:03:15.009,0.0

In [15]:
#df.question_id = df.question_id.str.slice(start=1)
#df.bundle_id = df.bundle_id.str.slice(start=1)
#df.explanation_id = df.explanation_id.str.slice(start=1)
df['elapsed_time']= df.elapsed_time.div(1000)

In [ ]:
df[df['question_id'].notnull()]

In [16]:
df.head()

ERROR! Session/line number was not unique in

,timestamp,solving_id,question_id,user_answer,elapsed_time,user_iD,correct_answer,bundle_id,explanation_id,part,tags,deployed_at,correct
0,1565096190868,1,012,b,38.0,1,c,3544,3544,5,74,2019-09-17 02:43:28.616,0.0
1,1565096221062,2,706,c,24.0,1,c,3238,3238,5,71,2019-10-30 05:34:30.723,1.0
2,1565096293432,3,366,b,68.0,1,b,2898,2898,5,103,2019-10-30 05:37:51.451,1.0
3,1565096339668,4,829,a,42.0,1,c,3361,3361,5,83,2019-06-24 09:24:51.347,0.0
4,1565096401774,5,528,b,59.0,1,d,5060,5060,5,90,2019-10-17 03:03:15.009,0.0

 database. History logging moved to new session 112